# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yml and/or the recipe/meta.yaml.

language: generic

os: osx
osx_image: xcode6.4

env:
  matrix:
    
    - CONDA_NPY=111  CONDA_PY=27
    - CONDA_NPY=112  CONDA_PY=27
    - CONDA_NPY=111  CONDA_PY=35
    - CONDA_NPY=112  CONDA_PY=35
    - CONDA_NPY=111  CONDA_PY=36
    - CONDA_NPY=112  CONDA_PY=36
  global:
    # The BINSTAR_TOKEN secure variable. This is defined canonically in conda-forge.yml.
    - secure: "GMpiAuDNGElIZ7du+5AbDgb1iIiF4K8zrG28ojkivcSUresZ22HuvPs9Ba9kb6q4kQmDQLOXc+Z/9fj3OVhaQjg19TWTcRTowl5VE5IqKgeb51RCaLVxjmpZjGzVA4idXhzkRq0ubC7pH8UD/gEh//Mmoif4ZvCogLDoWm5Fpciy6tSL1kJ3qiTqVjHJrbme6JVEA0q7zARtvH3iZ7R4Ax5bZCfENWmLtYj4KQ4UQGE8unA8gqD9JQtu4haYICoaomHvDQndp8mvo5++HMSYmS4NWh/3f/Ve0YuKL3i92AxWl3TWhiba9p8OP5K+42+ayIhNLLOOLUvxElBmf6b3YzSfivbG9aL9553w9R/ykpMjDURPzyUBbFdrhQYc8RakPzM1qS6uHsqdWOqlhoANo+OLzze8BOJmb2CEA+At6n0OLYjb11LNpEbvZ9yoSQ2LfOVs1Sv6GxGn+Vxrk1WXLBwRCOUfpJXyF2ypXJIWWCWRjw53wo44VbXLwe4mjJwbCGs3NtGw0DaOmfXiiSz+gn2+c7jzDngHQduUEs5wGEXdJ4SYKBiAIIdJm8N3wt2pHddey/c2dLr11zi7/9CYjY4XZS/gGyD3xQwIYesEZURpLqsRobyZrd7UAqG5qjiU8qkyMUxpzkAxqIY/uK7Auc1tLBMVDg10UH/Sgw0MIH0="


before_install:
    # Remove homebrew.
    - |
      echo ""
      echo "Removing homebrew from Travis CI to avoid conflicts."
      curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/uninstall > ~/uninstall_homebrew
      chmod +x ~/uninstall_homebrew
      ~/uninstall_homebrew -fq
      rm ~/uninstall_homebrew


install:
    # Install Miniconda.
    - |
      echo ""
      echo "Installing a fresh version of Miniconda."
      MINICONDA_URL="https://repo.continuum.io/miniconda"
      MINICONDA_FILE="Miniconda3-latest-MacOSX-x86_64.sh"
      curl -L -O "${MINICONDA_URL}/${MINICONDA_FILE}"
      bash $MINICONDA_FILE -b

    # Configure conda.
    - |
      echo ""
      echo "Configuring conda."
      source /Users/travis/miniconda3/bin/activate root
      conda config --remove channels defaults
      conda config --add channels defaults
      conda config --add channels conda-forge
      conda config --set show_channel_urls true
      conda install --yes --quiet conda-forge-build-setup
      source run_conda_forge_build_setup

script:
  - conda build ./recipe

  - upload_or_check_non_existence ./recipe conda-forge --channel=main
